<bg-hoard-header title="Board Game Hoard"></bg-hoard-header>
<div class="container">
  <div class="games-layout">
    <mat-card
      class="game-card"
      *ngFor="let game of games | async"
      [routerLink]="['/game', game.id]"
    >
      <mat-card-header class="center-content">
        <mat-card-title>{{ game.name }}</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="{{ game.image }}"
        alt="Photo of board game {{ game.name }}"
      />
      <mat-card-content>
        <p>
          {{ game.description }}
        </p>
        <span>
          <span style="font-weight: bold">Rating:</span>
          {{ formatRating(game.rating) }}
        </span>
      </mat-card-content>
    </mat-card>
  </div>
  <router-outlet></router-outlet>
</div>
